.settings-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;

    .settings-section-form{
        margin-top: 50px;
        .settings-section-fieldset{
            padding: 25px;
            border-radius: 10px;
            border: 1px gray solid;
            .settings-section-userref{
                width: 100%;
                margin-bottom: 30px;
            }
            .settings-section-email{
                width: 100%;
                margin-bottom: 30px;
            }
            .settings-section-description{
                width: 100%;
                margin-bottom: 30px;
            }
            .settings-section-apply-btn{
                width: 100%;
                margin-bottom: 30px;
            }
            .settings-section-switch{
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
}