.settings-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;

    .settings-section-userref{
        width: 100%;
        margin-bottom: 30px;
    }
    .settings-section-description{
        width: 100%;
        margin-bottom: 30px;
    }
    .settings-section-apply-btn{
        width: 100%;
        margin-bottom: 30px;
    }
    .settings-section-switch{
        width: 100%;
        margin-bottom: 30px;
    }
}