.settings-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0 10px;
    max-width: 500px;
    min-width: 320px;
    .settings-section-form{
        margin-top: 50px;
        .settings-section-fieldset{
            padding: 25px;
            border-radius: 10px;
            border: 1px gray solid;
            .settings-section-email{
                width: 100%;
                margin-bottom: 30px;
            }
            .settings-section-description{
                width: 100%;
                margin-bottom: 30px;
            }
            .settings-section-apply-btn{
                width: 100%;
                margin-bottom: 30px;
            }
            .settings-section-switch{
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
}