.profile-page{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .profile-page-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 250px;
    }
    .profile-page-left{
        position: fixed;
        left: 0;
        width: 250px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #F8F9FA;
        background-image: url("../../assets/background.jpg");
        background-position: center;
        background-size: cover;
    }
    @media screen and (max-width:900px){
        flex-direction: column;
        align-items: center;
            .profile-page-right{
                margin-left: 0;
            }
            .profile-page-left{
                position: static;
                margin-top: 75px;
                padding-bottom: 20px;
                width: 100%;
                height: 60vh;
            }
        }
  }