.profile-page{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .profile-page-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 350px;
    }
    .profile-page-left{
        position: fixed;
        left: 0;
        width: 350px;
        height: 100vh;
        background-color: #F8F9FA;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
  }