.user-input{
    display: flex;
    width: 100%;
    min-width: 500px;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    .user-input-image{
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }
    .user-input-text{
        height: 50px;
        flex: 1;
        border: none;
        border-bottom: 1px solid #FF4335;
        margin: 0 20px;
        padding-left: 15px;
        font-size: large;
    }
    .user-input-button{
        padding: 15px;
        color: #FFFFFF;
        background-color: #FFDF74;
        font-size: large;
        font-weight: bold;
        border: none;
        border-radius: 50px;
        &:hover{
            background-color: #FF4335;
        }
    }
}