.home-page{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .home-page-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 350px;
    }
    .home-page-left{
        position: fixed;
        left: 0;
        width: 350px;
        height: 100vh;
        background-color: #F8F9FA;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .home-page-left-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 25px;
        }
    }
  }