.navbar{
    width: 90px;
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .nav-item{
      font-size: 48px;
      padding: 20px;
      &:hover {
        color: #FFFFFF;
        background-color: #FF4335;
      }
    }
  }