.add-post-page{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .add-post-page-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 250px;
    }
    .add-post-page-left{
        position: fixed;
        left: 0;
        width: 250px;
        height: 100vh;
        background-color: #F8F9FA;
        background-image: url("../../assets/background.jpg");
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .add-post-page-left-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 25px;
        }
    }
    @media screen and (max-width:900px){
        flex-direction: column;
            .add-post-page-right{
                margin-left: 0;
                margin-top: 75px;
                justify-self: center;
                align-self: center;
            }
            .add-post-page-left{
                display: none;
            }
        }
  }