.post{
    border-radius: 10px;
    padding: 20px;
    margin: 25px 0;
    width: 50vw;
    box-shadow: 0px 10px 20px -9px rgba(0,0,0,.2);

    .post-title{
        display: flex;
        justify-content: space-between;
        .post-title-config{
            display: flex;
            justify-content: center;
            align-items: center;
            .post-title-timestamp{
                font-size: small;
                color: #6B757E;
                margin: 0 5px;
            }
            .post-title-edit{
                font-size: small;
                color: #6B757E;
                margin: 0 5px;
                cursor: pointer;
                &:hover{
                    color: #FF4335;
                }
            }
            .post-title-delete{
                font-size: small;
                color: #6B757E;
                margin: 0 5px;
                cursor: pointer;
                &:hover{
                    color: #FF4335;
                }
            }
        }
        .post-user-container{
            display: flex;
            justify-content: center;
            align-items: center;
            
            .post-title-username{
                font-size: small;
                font-weight: bold;
                margin-left: 10px;
                color: #6B757E;
            }
            .post-title-icon{
                width: 25px;
                height: 25px;
                border-radius: 50%;
            }
        }
    }
    .post-body{
        margin-top: 20px;
        margin-left: 25px;
        font-size: medium;
        display: flex;
        flex-direction: column;
        .message-container{
            display: flex;
            justify-content: center;
            align-items: center;
            .post-message{
                border: none;
                font-size: 16px;
                margin-right: 10px;
                background-color: #FFFFFF;
                flex: 1;
            }
        }
        .post-like-container{
            justify-self: center;
            align-self: flex-end;
            background-color: #FFFFFF;
            padding: 5px 10px;
            position: relative;
            bottom: -32px;
            border-radius: 15px;
            box-shadow: 0px 0px 20px -9px rgba(0,0,0,0.2);
            .post-like{
                color: #FF0000;
                padding: 5px;
                cursor: pointer;
            }
            .post-like-count{
                color: #FF0000;
                padding: 5px;
            }
        }
    }
    
}