.app{
  display: flex;
  height: 100vh;

  .main{
    flex: 1;
    flex-direction: column;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
