    .people-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        .people-text{
           font-weight: bolder;
           color: #FFFFFF;
           margin-top: 20px;
           align-self: center;
           margin-bottom: 20px;
        }
        .persons-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 20px;
        }
    }